{% extends "base.html" %}

{% block content %}

    <header>
        <h1>Welcome page</h1>
        <h2>Hello {{ buyer.name }}</h2>
        <h3>У вас {{ buyer.money }} долларов</h3>
    </header>

    <table class="turble_table">
        <tr>
            <th><h2>Бренд</h2></td>
            <th><h2>Номер машины</h2></td>
            <th><h2>Цвет</h2></td>
            <th><h2>Цена</h2></td>
            <th><h2>Машины в продаже</h2></td>
            <th><h2>Изображение машины</h2></td>
        </tr>
            {% for i in car %}
                <tr>
                    <td><h3>{{ i.car_brand }}</h3></td>
                    <td><h3>{{ i.car_number }}</h3></td>
                    <td><h3>{{ i.car_color }}</h3></td>
                    <td><h3>{{ i.car_price }}</h3></td>
                    <td><h3>{{ i.is_sell_now }}</h3></td>
                    <td><h3><img src="uploads/${i}.jpg"></h3></td>            
                </tr>
            {% endfor %}        
    </table>

    {% if car == null %}
        <p>Not found...</p>
    {% endif %}
{% endblock %}